@import "variables";

.form-box {
  padding: 35px 10px;
  background-color: #89B7E2;
  border-radius: @global-radius;

  .section-title {
    margin-bottom: 12px !important;
  }

  p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
  }

  .button {
    min-width: 200px;
  }
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  row-gap: 15px;

  input:not(.button) {
    outline: none;
    padding: 12px 25px;
    border-radius: 5px;
    border: 1px solid #C5E1FC;
    background-color: #fff;
    color: #1A1A1A;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;

    &::placeholder {
      color: #ADADAD;
    }

    &:focus {
      outline: 2px solid @accent-color;
    }
  }

  .button {
    max-width: none;
  }

  label, .hidden {
    display: none;
  }

  // TODO move these to commons
  .iti__selected-flag {
    padding-top: 0 !important;
    height: 100% !important;
  }

  input#Mobile {
    padding-left: 52px;
  }
}

.mq-tablet() { .mq-tablet-form(); }
.mq-tablet-form() {
  .form-box {
    max-width: 450px;
    align-self: center;
  }
}

.mq-desktop() { .mq-desktop-form(); }
.mq-desktop-form() {
  .form-box {
    padding-left: 25px;
    padding-right: 25px;
    flex-basis: 100%;
    min-width: 400px;
    max-width: 500px;
  }
}