@import "variables";
@import "../commons/styles/generic";

// GENERICS & COMMONS

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: @accent-color;
}

main {
  display: grid;
  grid-template-columns: 100%;
}

.gallery {
  & picture, img {
    width: 100%;
  }
}

a:link, a:visited {
  text-decoration: none;

  &:not(.button) {
    color: @accent-color;
  }
}

a:link:not(.button) {
  text-decoration-color: #0000;
  text-underline-offset: 0.1em;
  transition: text-decoration-color 400ms;

  &:hover {
    text-decoration: underline;
  }
}

strong {
  font-weight: 700;
}

.section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
  color: @accent-color;
}

.button {
  min-width: 300px;
  max-width: fit-content;
  color: #fff;
  background-color: @accent-color;
  outline: none;
  cursor: pointer;
  padding: 9px 25px;
  border-radius: 10px;
  border: 3px solid #25286A;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  transition: background-color .4s, scale .4s;

  @media @media-mobile {
    html[lang^='it'] & {
      font-size: 16px;
    }
  }
}

.button:hover, .button:active {
  background-color: #353768;
  scale: .99;
}

.button:active {
  scale: 1.05;
}

.mq-tablet-critic() { .mq-tablet-generic(); }
.mq-tablet-generic() {

}

.mq-desktop-critic() { .mq-desktop-generic(); }
.mq-desktop-generic() {
  .section-title {
    font-size: 34px;
    margin-bottom: 60px;
  }

  .button {
    font-size: 18px;
    padding: 12px 25px;
  }
}
