@import "variables";

#hero {
  position: relative;
  height: 857px;
  background-size: cover !important;
  background-repeat: no-repeat !important;

  > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.hero-content {
  padding: 47px 0 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 34px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  .hero-subtitle {
    color: @tertiary-color;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 36px;
  }
}

#org-section {
  position: absolute;
  bottom: 20px;
  left: @page-padding;
  right: @page-padding;
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  align-items: center;
  justify-content: space-around;

  .org-title {
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }
}

// MEDIA QUERIES

.hero-mobile() {
  #hero {
    background: url("/assets/hero-mobile.jpg");
    // TODO check if hero-mobile 2x version looks good
  }
}

.hero-tablet-and-desktop() {
  #hero {
    background: url("/assets/hero.jpg");

    @media @media-retina {
      background: url("/assets/hero@2x.jpg");
    }
  }
}

.hero-desktop() {
  #hero > .container {
    align-items: end;
    justify-self: center;
  }

  .hero-content {
    margin-top: 100px;
    align-items: end;
    justify-content: end;
    text-align: end;

    h1 {
      font-size: 39px;
      line-height: 49px;
    }

    .hero-subtitle {
      font-size: 22px;
      line-height: 30px;
    }

    .button {
      width: 100%;
    }
  }

  #org-section {
    right: unset;
    left: unset;
    bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    row-gap: 20px;

    .org-title {
      display: none;
    }
  }
}
