@import 'variables';

.hero-grid img.animate {
   animation: opacityAnimation 1.5s linear;
}

@keyframes opacityAnimation {
   0% {
      opacity: 1;
   }
   50% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

#hero {
   > .container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 0;
      padding-right: 0;
   }

   .hero-grid {
      display: grid;
      row-gap: 4px;
      column-gap: 4px;
      padding-left: 4px;
      padding-right: 4px;
      grid-template-columns: repeat(3, 1fr);

      :last-child {
         display: none;
      }
   }

   .ico-arrow {
      margin: 10px 0;

      img {
         margin: 20px;
         rotate: 180deg;
      }
   }
}

@media screen and (max-width:768px) {
   #hero .hero-grid {
      grid-template-columns: repeat(4, 1fr);

      :last-child {
         display: unset;
      }
   }
}

.hero-content {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   height: 100%;
   padding: 47px @page-padding 26px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.7);
   text-align: center;

   h1,
   .hero-subtitle {
      color: #fff;
   }

   h1 {
      font-size: 34px;
      line-height: 40px;
      font-weight: 800;
      margin-bottom: 12px;
   }

   .hero-subtitle {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 36px;
   }
}

#org-section {
   padding: 8px 0;
  //  background-color: @org-mobile-bg;

   > .container {
      display: flex;
      flex-flow: row wrap !important;
      row-gap: 12px;
      align-items: center;
      justify-content: space-around;
   }
}

@media screen and (min-width:768px)  {
   #hero > .container {
      height: 100%;
      flex-direction: row;
   }

   .hero-content {
      align-self: center;
      justify-content: center;
      //background-attachment: fixed !important;
      // background: linear-gradient(90deg, red 0%, #000000CC 40%, #000000CC 60%, #0000007F 100%);

      h1 {
         font-size: 39px;
         line-height: 49px;
      }

      .hero-subtitle {
         font-size: 22px;
         line-height: 30px;
      }

      .button {
         width: 100%;
         min-width: fit-content;
         background-color: rgba(54, 218, 78, .92);
         color: #21234a;   
      }
   }

   #hero .hero-grid {
      grid-template-columns: repeat(5, 1fr);
      column-gap: 20px;

      :last-child {
         display: none;
      }
   }

   #org-section {
      background-color: initial;

      > .container {
         column-gap: 25px;
         row-gap: 20px;
         padding: 8px 0;
      }
   }
}
