@import "variables";

#services {
  padding: 45px 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button {
    margin-top: 30px;
  }

  .card-container {
    display: grid;
    row-gap: 10px;
  }

  .card {
    padding: 30px 20px;
    display: grid;
    grid-template-rows: 83px auto auto;
    row-gap: 20px;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: @secondary-color;
    border-radius: @global-radius;
  }

  .card-title {
    align-self: start;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
  }

  .card-text {
    font-size: 16px;
    line-height: 24px;
  }
}

.mq-tablet() {
  #services {
    .card-container {
      column-gap: 10px;
      grid-template-columns: repeat(2, calc(50% - $column-gap / 2));
    }

    .card-text {
      font-size: 18px;
      line-height: 26px;
    }
  }
}

.mq-desktop() {
  #services {
    padding: 40px 0 80px;

    .button {
      max-width: fit-content;
    }

    .card-container {
      row-gap: 35px;
      column-gap: 35px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
