@import "variables";

#why {
  padding: 35px 0;

  .container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .form-box {
    margin-left: @page-padding;
    margin-right: @page-padding;
  }

  section.why {
    padding: 30px @page-padding;
    background-color: #f7f7f7;

    ul > li {
      list-style: disc inside url('/assets/ico-tik-circle.svg');

      > span {
        font-size: 18px;
        line-height: 1.5;

        &:last-of-type {
          display: none;  // Show long description only on desktop
        }
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.why-desktop() {
  #why {
    padding: 98px 0;

    .container {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      column-gap: 80px;
      text-align: start;
    }

    .section-title {
      text-align: start;
    }

    section.why {
      flex-basis: 45%;
      background-color: unset;
    }

    section.why ul > li {
      list-style-position: outside !important;
      margin-left: calc(24px + 5px);

      &:nth-of-type(5) {
        display: none;  // Hide cutting-edge list item on desktop
      }

      > span {
        display: block;
        padding-left: 5px !important;

        &:last-of-type {
          display: inline-block;
          margin-top: 10px;

        }
      }
    }
  }
}